<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/card.css">
</head>

<body>
<h1 class="moduleTitle">Module {{moduleNum}} Flashcards</h1>
<h3 class="corrStatus">{{prevQ}}</h3>
<div class="container">
    <div class="card">
        <h3 class="qTitle">{{ question|safe }}</h3>
        <div class="questions">
            <form>
                <input type="hidden" id="uuid" name="uuid" value="{{ uuid }}">
                {%for i in range(0, length)%}
                    <div>
                        <input type="radio" id="{{answers[i]}}" name="answer" value="{{answers[i]}}">
                        <label for="{{answers[i]}}">{{answers[i]}}</label>
                    </div>
                {%endfor%}
                <button class="submitAnswer">Submit</button>
            </form>
        </div>
    </div>
</div>
<h3 class="remaining">Remaining cards {{remainingC}}/{{totalC}}</h3>
</body>
</html>