<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
<div class="w-100 justify-content-center align-content-center">
    <div class="flashcard d-inline-flex flex-column border border-secondary rounded m-5 p-3">
        <h3>{{ question|safe }}</h3>
        <div>
            <form>
                <input type="hidden" id="uuid" name="uuid" value="{{ uuid }}">
                {%for i in range(0, length)%}
                    <div>
                        <input type="radio" id="{{answers[i]}}" name="answer" value="{{answers[i]}}">
                        <label for="{{answers[i]}}">{{answers[i]}}</label>
                    </div>
                {%endfor%}
                <input id="submitAnswer" type="submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>