<!DOCTYPE html>
<hmtl lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="../static/styles/login_style.css">
    </head>

    <body>
        <div class="center">
            <h1>Log-in</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="pass">Forgot Password?</div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Don't have an account? <a href="signup">Sign-Up</a>
                </div>
            </form>
        </div>
    </body>
</hmtl>