<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Moonlight Coder</title>

    <!-- Favicon -->
    <link href="../moonlight_coder/static/assets/img/brand/favicon.png" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- Soft UI Design System -->
    <link type="text/css" href="../static/assets/css/soft-design-system-pro.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link type="text/css" href="../static/assets/css/styles.css" rel="stylesheet">

</head>
<body>

<!-- Navbar Dark -->
<nav
        class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
    <div class="container">
        <a class="navbar-brand text-white" href="{{ url_for('learn_python') }}" title="Designed and Coded by Creative Tim">
            Moonlight Coder
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon mt-2">
      <span class="navbar-toggler-bar bar1"></span>
      <span class="navbar-toggler-bar bar2"></span>
      <span class="navbar-toggler-bar bar3"></span>
    </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{{ url_for('learn_python') }}">
                        Home
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{{ url_for('about') }}">
                        About
                    </a>
                </li>
                <!-- <li class="nav-item mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                        Learn
                    </a>
                </li> -->

                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{{ url_for('profile') }}">
                            {{ current_user.id }}'s Profile
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{{ url_for('logout') }}">
                            Log out
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{{ url_for('signup') }}">
                            Signup
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{{ url_for('login') }}">
                            Log in
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

{% include file %}

<!--   Core JS Files   -->
<script src="../static/assets/js/core/popper.min.js"></script>
<script src="../static/assets/js/core/bootstrap.min.js"></script>
<script src="../static/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../static/assets/js/plugins/moment.min.js"></script>


<!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../static/assets/js/plugins/nouislider.min.js"></script>

<!--  Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/  -->
<script src="../static/assets/js/plugins/glidejs.min.js"></script>

<!--	Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/ -->
<script src="../static/assets/js/plugins/choices.min.js"></script>


<!-- Control Center for Soft UI Design System: parallax effects, scripts for the example pages etc -->
<script src="../static/assets/js/soft-design-system-pro.min.js"></script>



</body>
</html>