<head>
  <link rel="stylesheet" href="../static/styles/profile.css">
</head>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.id }}</h5>
            <p class="text-muted mb-1">Level {{ level }} Learner</p>
            <div class="d-flex justify-content-center mb-2">
              <div class="d-flex justify-content-center mb-2">
              <!--  <button type="button" class="btn btn-primary">Edit</button> -->
                <a href={{ url_for('logout') }}>
                  <button type="button" class="btn btn-outline-primary ms-1">Logout</button>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>

          </div>
        </div>
        <div class="row">
          {% for results in module_results %}
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4">Module {{ loop.index0 }} Progress
                  </p>
                    {% for category in results %}
                  <p class="mb-1" style="font-size: .77rem;">{{ category.title() }}</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ results[category] }}%" aria-valuenow="{{ results[category] }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    {% endfor %}
                  <br>
                {% if loop.index0 in completions %}
                    <a href="{{ url_for('restart_module', module=loop.index0) }}"><button type="button" class="btn btn-danger">Reset Flash Cards!</button></a>
                {% else %}
                    <a href="{{ url_for('flash_cards', module=loop.index0) }}"><button type="button" class="btn btn-primary">Flash Cards!</button></a>
                    <a href="{{ url_for('quiz', module=loop.index0) }}"><button type="button" class="btn btn-primary">Take Quiz</button></a>
                {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Questionaire</p>
                <br>
                <a href="{{ url_for('quiz', module=0) }}"><button type="button" class="btn btn-primary">Take Survey</button></a>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</section>