<div class="questions">
    <form method="post">
        <input type="hidden" id="uuid" name="uuid" value="{{ uuid }}">
        {%for i in range(0, length)%}
            <div>
                <label for="answer_{{ i }}">
                    <input type="checkbox" id="answer_{{ i }}" name="answer_{{ i }}" value="{{answers[i]}}">
                    {{answers[i]}}
                </label>
            </div>
        {%endfor%}
        <button class="submitAnswer btn btn-warning">Submit</button>
    </form>
</div>
